<%= link_to 'Sign up!', new_user_path %>

<h1> All users </h1>
<% @users.each do |user| %>
  <%= user_link user %> <br>
<% end %>

<h1> Signed up recently </h1>
<% new_members.each do |user| %>
  <%= user_link user %> <br>
<% end %>

<!-- <h1> Signed up today </h1>
<% newest_members.each do |user| %>
  <%= user_link user %> <br>
<% end %>
 -->




